.container-fluid {
  width: 100vw;
  .profile-dropdown {
    li {
      list-style-type: none;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    a {
      color: black;
    }
    visibility: hidden;
  }

  .navbar-collapse {
    justify-content: flex-end;
    visibility: hidden;
  }

  .lit-review-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
