.signUp {
  margin: 20vh;
  width: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  .form-group {
    width: 50vh;
    padding: 15px 0 15px 0;
    input {
      text-align: center
    }
  }
  .signUp-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }
  a {
    margin-right: 15px;
  }
}
