.ticket-head {
    display: flex;
    justify-content: space-between;
    width: 97%;
  }
  .ticket-view {
    width: 95%;
    border: solid 1px;
    margin-top: 15px;
    padding: 20px 10px;
    .description {
      display: flex;
    }
    .post-review-button-area {
      display: flex;
      justify-content: flex-end;
      width: 98%;
    }
    img {
      max-width: 300px;
      max-height: 300px;
    }
  }