.container-fluid {
  width: 100vw;
}
.container-fluid .profile-dropdown {
  visibility: hidden;
}
.container-fluid .profile-dropdown li {
  list-style-type: none;
}
.container-fluid .profile-dropdown ul {
  margin: 0;
  padding: 0;
}
.container-fluid .profile-dropdown a {
  color: black;
}
.container-fluid .navbar-collapse {
  justify-content: flex-end;
  visibility: hidden;
}
.container-fluid .lit-review-name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.signUp {
  margin: 20vh;
  width: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.signUp .form-group {
  width: 50vh;
  padding: 15px 0 15px 0;
}
.signUp .form-group input {
  text-align: center;
}
.signUp .signUp-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
.signUp a {
  margin-right: 15px;
}

.loginPage {
  margin-top: 10vh;
  display: flex;
}
.loginPage .indexSignUp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-right: 180px;
}
.loginPage .indexSignUp a {
  margin-top: 28px;
}
.loginPage .indexLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginPage .indexLogin .form-group {
  width: 300px;
  padding: 10px 0 10px 0;
}
.loginPage .indexLogin .form-group input {
  text-align: center;
}
.loginPage .indexLogin .loginButton {
  text-align: right;
}
.loginPage .indexLogin button {
  margin-top: 10px;
}

.alert-warning {
  margin-top: 10vh;
}

.home-review-options {
  width: 60vw;
  display: flex;
  justify-content: space-between;
}
.home-review-options a {
  width: 50%;
  margin: 50px;
  border: solid 1px;
}

.following {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.following h3 {
  margin-bottom: 40px;
}
.following form {
  display: flex;
  width: 80%;
}
.following form div {
  width: 95%;
}
.following form div input {
  text-align: center;
}
.following form button {
  width: 110px;
}

.table {
  width: 80vw;
  height: fit-content;
}
.table .table-button {
  width: 100px;
  padding: 0;
}
.table .table-button button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
}

.ticket-content {
  margin-top: 30px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ticket-content form {
  width: 100%;
}
.ticket-content form label {
  padding: 40px 0 10px 0;
  font-size: 20px;
}
.ticket-content form .asteriskField {
  display: none;
}
.ticket-content form button {
  width: 100px;
  float: right;
  border-radius: 3px;
}

.ticket-with-review-content {
  margin-top: 30px;
  margin-bottom: 80px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ticket-with-review-content form {
  width: 100%;
}
.ticket-with-review-content form .form-section {
  padding: 20px;
  border: 1px solid;
}
.ticket-with-review-content form label {
  padding: 40px 0 10px 0;
  font-size: 20px;
}
.ticket-with-review-content form .asteriskField {
  display: none;
}
.ticket-with-review-content form #div_id_rating div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ticket-with-review-content form #div_id_rating .form-check label {
  padding: 0 0 0 10px;
}
.ticket-with-review-content form #review-with-ticket-button-area {
  display: flex;
  justify-content: flex-end;
}
.ticket-with-review-content form button {
  width: 100px;
  border-radius: 3px;
  margin: 40px 0 20px 0;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
