{% extends 'main/base.html' %}

{% block title %}
  Create a Review (in response to a ticket)
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}

<div class="ticket-with-review-content">

  <form method="post" class="form-group">
    <div class="form-section">
      <h5>You are posting in response to</h5>
      {% include "main/partials/ticket_snippet.html" %}
    </div>
    <div class="form-section">
      <h5>Review</h5>
      {{ form|crispy }}
      {% csrf_token %}
      <div class="review-with-ticket-button-area">
        <button type="submit">Submit</button>
      </div>

    </div>
  </form>
</div>

{% endblock content %}