{% extends 'main/base.html' %}

{% block title %}
  Create a Review (not in response to a ticket)
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}

<div class="ticket-with-review-content">
  <h4>Create a Review</h4>
  <form method="post" class="form-group">
    <div class="form-section">
      <h4>Book / Article</h4>
      {{ ticket_form|crispy }}
      {% csrf_token %}
    </div>

    <div class="form-section">
      <h4>Review</h4>
      {{ review_form|crispy }}
      {% csrf_token %}
      <div id="review-with-ticket-button-area">
        <button type="submit">Submit</button>
      </div>

    </div>

  </form>
</div>

{% endblock content %}