{% extends 'main/base.html' %}

{% block title %}
  Edit your own ticket
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}

<div class="ticket-content">
  <h4>Edit Your Ticket</h4>
  <form method="post" class="form-group" enctype="multipart/form-data">
    {{ form|crispy }}
    {% csrf_token %}
    <img src="{{ image }}" alt="" id="ticket-image">
    <div class="ticket-button-area">
      <div class="upload-button-area">
        <button class="btn btn-secondary" type="button" id="uploadImage" onclick="document.getElementById(
        'id_image').click()">Upload New File</button>
      </div>
      <div>
        <button class="btn btn-secondary" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>

{% endblock content %}
