{% extends 'main/base.html' %}

{% block title %}
Users Following
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
<div class="following-content">
  <div class="following">
    <h3>Follow New Users</h3>
    <form method="post">
      {{ form|crispy }}
      {% csrf_token %}
      <button type="submit" class="btn btn-success">Submit</button>
    </form>

    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="following">
    <h3>Following</h3>
    <table class="table table-bordered">
      {% for obj in request.user.following.all %}
        <tr>
          <td>{{ obj.followed_user }}</td>
          <td class="table-button"><button class="btn btn-secondary" type=button>Unfollow</button></td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="following">
    <h3>Followers</h3>
    <table class="table table-bordered">
      {% for obj in request.user.followed_by.all %}
        <tr>
          <td>{{ obj.user }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}