{% extends 'main/base.html' %}
{% load main_extras %}

{% block title %}
Welcome
{% endblock title%}

{% block content %}
  <div class="home-review-options">
    <a class="btn btn-light" href="{% url 'create_ticket' %}" role="button">Request a Review</a>
    <a class="btn btn-light" href="{% url 'create_review_with_ticket' %}" role="button">Post a Review</a>
  </div>
  <div class="feed">
    {% for post in feed %}
      {% if post|model_type == 'Ticket' %}
        {% include "main/partials/ticket_snippet.html" %}
      {% elif post|model_type == 'Review' %}
        {% include "main/partials/review_snippet.html" %}
      {% endif %}
    {% endfor %}
  </div>
{% endblock content %}
